@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: url(assets/speed.svg) no-repeat;
    background-size: 255px;
    background-position: bottom 20px left 20px;
    background-color: #282a36;
    
}
header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
}
a {
    text-decoration: none;
}
.links {
    text-align: center;
}
.links a {
    color: #6272a4;
    
    text-transform: uppercase;
    border-bottom: 1px solid #50fa7b;
    margin: 0 15px;
    background-color: rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 8px;

}

.links a:hover {
    color: #50fa7b;
    transition: color 200ms;
}
footer {
    max-width: 100vw;
    max-height: 100vh;
}

/* ===Sobre=== */

#corpo-sobre {
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
    background-color: #282a36;

}
.content {
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    margin: 0 auto;
}

.content img {
    margin: 10px auto 15px;
    height: 90px;
    width: auto;

}
.box {
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.content h1 {
    font-weight: bold;
    font-size: 2rem;
    color: #7159c1;
    padding-top: 10px;
}
.content p {
    text-align: justify;
    margin: 0 auto;
    max-width: 450px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    margin: 20px auto;

}

.content .principais-tecnologias {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    width: 350px;

    margin: 0 auto;
    padding: 20px;
}

.principais-tecnologias h2 {
    font-size: 1.5em;
    padding-bottom: 0.7em;
    color: #6272a4;
}
.content .principais-tecnologias ul {
    margin-left: 40px;
}
.content .principais-tecnologias li {
    list-style-type: circle;
    list-style-position: unset;
    text-align: left;
    color: #8be9fd;
}

.redes {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes a i {
    color: #282a36;
    font-size: 30pt;
    padding: 0 1em;
}

.redes a i:hover {
    text-shadow: 2px 0px 3px #111111;
}

footer {
    margin: 20px;
}
footer a {

    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .5);
    padding: 8px;
    border-radius: 8px;
    margin: 100px;

}
/* ===CONTEUDOS=== */

.bootcamp span {
    background: url(https://skylab.rocketseat.com.br/static/media/Starter.64c237cc.svg?__WB_REVISION__=64c237ccff807c054339a62d53b4b402) no-repeat;
}